version: "3.9"
volumes:
  pleroma-data:
  postgres-data:
services:
  pleroma:
    # either have `build` to build the image locally or use the remote `image`
    image: salvatoret/pleroma:v2.6.1
    # build: .
    volumes:
      - pleroma-data:/mount
    depends_on:
      - postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: pleroma
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: postgres
    restart: unless-stopped
    # To be able to access the server on `http://localhost:4000`, comment `ports` back in.
#    ports:
#      - "4000:4000"
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: pleroma
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
  cloudflared:
    image: erisamoe/cloudflared
    command: tunnel run
    environment:
      TUNNEL_TOKEN: ${TUNNEL_TOKEN}
    restart: unless-stopped
    depends_on:
      - pleroma